@import-normalize; /* bring in normalize.css styles */

/* :root {
  --toastify-spinner-color: rgb(255, 40, 90);
  --toastify-color-info: rgb(255, 40, 90);
  --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-color-progress-info: var(--toastify-color-info);
        --toastify-color-progress-info: rgb(255, 40, 90);
}
.Toastify__progress-bar--info {
  background-color: rgb(255, 40, 90);;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  color: rgba(14, 14, 14, 0.885);
  text-decoration: none;
}
